.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    gap: 0.6rem;
}
.contact-section{
    width: 100%;

    border:1px solid var(--main-green);
    display: flex;
    flex-direction: column;
}
.contact-title{
    text-align: left;
    background-color: var(--main-green);
    color: black;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
    text-shadow: none;
}
.personal-info {
  white-space: pre-line;
  line-height: 2;  
  padding: 0.5rem 0.5rem;
}
.personal-info > span {
    font-size: 1.1rem;
}

.availability-info {
  white-space: pre-line;
  line-height: 2;  
  padding: 0.5rem 0.5rem;
}

.availability-info > span {
    font-size: 1.1rem;
}

.contact-form {
    position: relative;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}

.form-group {
    display: flex;

}

.form-label{
    font-size: 1.1rem;
}
.form-label.empty {
    color: var(--dark-green);
    text-shadow: none;
}

.form-label.filled {
    font-size: 1.1rem;
}
.form-input:placeholder-shown{
    text-shadow: none;
}
.form-input {
    width: 100%;
    font-size: 1.1rem;
    background: transparent;
    border:none;
    color: var(--main-green);
    outline: none;
    transition: all 0.3s ease;
    caret-color: var(--main-green);    
    text-shadow: 0 0 0.5ex #3f3, 0 0 1px rgba(255,255,255,0.5);
}

.form-input::placeholder {
    color: var(--dark-green);
}

.message-input {    
    resize: none;
}

.submit-button {
    position: absolute;
    background: transparent;
    border: 1px solid var(--main-green);
    color: var(--main-green);
    padding: 0.4rem 1rem;
    font-size: 0.7rem;
    cursor: pointer;
    bottom: 0;
    right: 0;
}

.submit-button:hover {
    background: var(--main-green);
    color: black;
}
