

.svg-vu-meter-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #111;
}

.svg-vu-meter-container.screen-off {
  opacity: 0.4;
}

.vu-meter-svg {
  width: 100%;
  height: 100%;
  max-height: 95vh;
  margin: 0 auto;
}

#vu {
  font-size: 50px;
  color: black;
  font-weight: 900;
}

#zeiger {
  transform-box: fill-box; /* FIX Firefox */
  transform-origin: right bottom;
  transform: rotate(15deg); /* Initial position */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .svg-vu-meter-container {
    border-radius: 4px;
  }
  
  #vu {
    font-size: 40px;
  }
}
