@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


:root {
  --main-green: #7aff60;
  --dark-green: #126B12;
  --display-height: 100vh;
  --blink-time: 500ms;
  --pc-container-left-width: 280px;
  /* font-size: clamp(18px, 3vw, 30px); */
}

* {
  font-family: "VT323", monospace;
  font-weight: 400;
  margin: 0px;
  box-sizing: border-box;
}

.back-button {
  background: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: 999;
}

.back-button:hover path {
  stroke: var(--main-green);
  filter: drop-shadow(0 0 0.5ex #3f3);
}

@keyframes blink {

  0%,
  49% {
    border-right-color: transparent
  }

  50%,
  100% {
    border-right-color: currentColor
  }
}

@keyframes scan {
  0% {
    background-position: 0 -100vh;
  }

  35%,
  100% {
    background-position: 0 100vh;
  }
}

.mb-2 {
  margin-bottom: 8px;
}

body {
  background-color: #1E2B24;
  /* background-color: #3f3; */
  padding: 0;
  margin: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  overflow: hidden;
}

section {
  border-radius: 1em;
  background-color: #131;
  background-image:
    radial-gradient(ellipse 500% 100% at 50% 90%, transparent, #121);
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2em;
  box-shadow: inset 0 0 10em 1em rgba(0, 0, 0, 0.5);
  overflow: auto;
  color: rgba(128, 255, 128, 0.8);
  position: relative;
}

section::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image: linear-gradient(0deg,
      transparent 0%,
      rgba(32, 128, 32, 0.2) 2%,
      rgba(32, 128, 32, 0.8) 3%,
      rgba(32, 128, 32, 0.2) 3%,
      transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7.5s linear 0s infinite;
}

section::after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-image:
    radial-gradient(ellipse 200% 20% at 50% 0%, rgba(0, 0, 0, 0.5), transparent);
  background-size: 100%, 100%, 100%, 100%, 100%, 100% 0.25ch;
}

.text-q {
  border-right: 0 solid currentColor;
  animation: blink var(--blink-time) linear 0s infinite;
  text-shadow: 0 0 0.5ex #3f3, 0 0 1px rgba(255, 255, 255, 0.5);
  display: block;
}

.text-q-content::before {
  content: "> ";
}

/* section .text-q:last-child {
  border-right-width: 1ch;
} */
.text-q-click:hover {
  color: #18580b;
  font-weight: bold;
  background-color: #00ff00;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.bg-screens{
  background-color: #131;
  background-image: radial-gradient(ellipse 500% 100% at 50% 90%, transparent, #121);
  background-position: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5), 0 16px 32px rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(255, 255, 255, .75), inset 0 4px 8px rgba(0, 0, 0, .35);
  border: 4px solid rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.link{
  color: var(--main-green);
  text-decoration: none;
  width: 100%;
  padding: 8px 0px;
  font-weight: bold;
  display: block;
  
}
.link:hover{
  background-color: var(--main-green);
  color: #000;
}
@media (max-width: 800px){
  section{
    padding: 0.5em 1.25em;
  }
}